:root {
  --ui-color: #aaaaaa;
}
.screen {
  display: grid;
}

.colorScreen {
  --ui-color: green;
}

.display {
  color: #aaaaaa;
  width: 80ch;
  margin: 0 auto;
  padding: 4ch;
  padding-top: 0;
}

.stickyBar {
  position: sticky;
  top: 0em;
  display: flex;
  padding: 0.5em;
  justify-content: end;
}

.menuButton {
  color: var(--ui-color);
  background-color: black;

  padding: 0.5em;
  border: 2px solid var(--ui-color);
  cursor: pointer;
}
