html {
  -webkit-text-size-adjust: 100%;
  margin: 0;
  height: 100%;
}
body {
  background: black;
  margin: 0;
  height: 100%;
}
:global(#root) {
  height: 100%;
}
table,
input,
textarea,
button {
  font-family: inherit;
}
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.loading p {
  color: white;
  width: fit-content;
}
