.lines span.line {
  display: block;
  width: fit-content;
  transition: opacity 2s;
  opacity: 0.9;

  color: var(--color, #fff);
}

.lines span.line strong {
  text-shadow: var(--color, #fff) 0 0 10px;
}

.cursor span.line:last-of-type {
  opacity: 1;

  color: transparent;
  background-clip: text;
  background-color: var(--color, #fff);

  background-image: linear-gradient(to right, #fff0 0%, #fff0 85%, #ffff 100%);
}

.cursor span.line:last-of-type::after {
  content: "🀫";
  color: var(--color, #fff);
  animation: blink 1s step-end infinite;
}
@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
