.dialogSelect {
  display: flex;
  justify-content: space-between;

  color: var(--ui-color);
  background-color: black;

  padding: 0.5em 1em;
  border: 2px solid var(--ui-color);
  cursor: pointer;
  font-size: 0.8rem;
}

.dialogSelect label {
  line-height: 1.1rem;
}

.dialogSelect select {
  background: black;
  color: var(--ui-color);
  border: none;
  text-align: end;
  font-family: inherit;
  font-size: 0.8rem;
}

.dialogSelect option {
  background: black;
  color: var(--ui-color);
  border: none;
  text-align: end;
  font-family: inherit;
}
